{% extends 'app/base.html' %}
{% block content %}
<div class="art-article"><h3>Наш адрес</h3>
<p>г. Владивосток, ул. Выселковая, 39</p>
<p><strong>Режим работы:</strong>&nbsp;ПН-ВС 10:00 − 20:00<br><br><span class="f-small f-red" style="color: #ff0000; font-size: 10pt;">Учитывайте разницу часовых поясов (Москва +7 часов)</span></p>
<h3>Наши телефоны</h3>
<p>Основной&nbsp;<strong>8(964)446-41-01</strong></p>
<p><br><strong>WhatsApp </strong>+79644464101<br><strong>Viber </strong>+79644464101<br><strong>Telegram&nbsp;</strong>+79644464101</p>
<h3>Электронный адрес</h3>
<p><span id="cloak1561995ae5e6351475d8621d6be95753"><a href="mailto:parts@japanautogid.ru">parts@japanautogid.ru</a></span><script type="text/javascript">
                document.getElementById('cloak1561995ae5e6351475d8621d6be95753').innerHTML = '';
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy1561995ae5e6351475d8621d6be95753 = 'p&#97;rts' + '&#64;';
                addy1561995ae5e6351475d8621d6be95753 = addy1561995ae5e6351475d8621d6be95753 + 'j&#97;p&#97;n&#97;&#117;t&#111;g&#105;d' + '&#46;' + 'r&#117;';
                var addy_text1561995ae5e6351475d8621d6be95753 = 'p&#97;rts' + '&#64;' + 'j&#97;p&#97;n&#97;&#117;t&#111;g&#105;d' + '&#46;' + 'r&#117;';document.getElementById('cloak1561995ae5e6351475d8621d6be95753').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy1561995ae5e6351475d8621d6be95753 + '\'>'+addy_text1561995ae5e6351475d8621d6be95753+'<\/a>';
        </script></p>
<h3>Карта проезда</h3> 
</div>
{% endblock %}