{% extends 'app/base.html' %}
{% block content %}

<article class="art-post"><h2 class="art-postheader">Доставка</h2><div class="art-postcontent clearfix"><div class="art-article"><h2 class="g-mbh">Оплата и Доставка автозапчастей в регионы РФ</h2>
<p><span style="color: #ff0000; font-size: 14pt;"><strong>ВНИМАНИЕ!!!</strong></span></p>
<p><span style="color: #000000;">Карта Сбербанк 4276 **** ****&nbsp;5050&nbsp;</span></p>
<p><span style="color: #ff0000;"><strong>ДРУГИХ КАРТ У НАС НЕТ!!! ОСТЕРЕГАЙТЕСЬ МОШЕННИКОВ!!!</strong></span></p>
<p><span class="dm-phone dm-phone-active" style="color: #000000;">Телефон&nbsp;8(964)4464101</span></p>
<p><span style="color: #ff0000;"><strong><span class="dm-phone dm-phone-active">ДРУГИХ ТЕЛЕФОНОВ У НАС&nbsp;НЕТ!!! ОСТЕРЕГАЙТЕСЬ МОШЕННИКОВ!!!</span></strong></span></p>
<p>&nbsp;</p>
<p>Покупая автозапчасти в нашей <a title="Автозапчасти из японии" href="http://japanautogid.ru/" target="_blank" rel="alternate noopener noreferrer">компании</a>, мы со своей стороны осуществляем&nbsp;бесплатную доставку и отправку товара в Вашем направлении.</p>
<p>Отправка в любую точку <strong>Российской Федерации</strong>,&nbsp;а так же&nbsp;в <strong>Республики Казахстан</strong> и<strong> Абхазия</strong>. Наземным и АВИА транспортом.</p>
<p>Вам достаточно выбрать транспортную компанию и сообщить нам при подтверждении заказа.</p>
<p>Если Вы не нашли в списке необходимую транспортную компанию, укажите нам данные нужной ТК, отправим любым удобным для Вас способом.</p>
<p>Если Вы самостоятельно не можете выбрать вариант доставки,&nbsp;<a href="/kontakty" rel="alternate">свяжитесь</a> с нами, мы подберем для Вас самый оптимальный вариант доставки .</p>
<h2 class="g-mbh">Транспортная компания&nbsp;«СТЭК-ПРИМОРЬЕ»</h2>
<p><a class="ico-popup" href="http://stekdv.ru" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a>&nbsp;или&nbsp;<a class="ico-popup" href="http://stekdv.ru/tarify/" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p>Сервисно-транспортная экспедиторская компания «СТЭК-Приморье» работает на рынке грузоперевозок с 2004 года, и за это время зарекомендовала себя как надежный партнер, всегда выполняющий обязательства перед заказчиками.</p>
<p>ООО «СТЭК-Приморье» предлагает&nbsp;<strong>доставку автомобилей</strong>&nbsp;и спецтехники из Москвы, Новосибирска и Владивостока во все регионы России по доступным ценам и на самом высоком уровне. Мы оптимизируем сроки доставки грузов, авто и спецтехники, сохраняя неизменно высокое качество и доступные цены.</p>
<ul class="list">
<li>отправка контейнерами по ЖД</li>
<li>слежение за вагонами во время процесса перевозки автомобиля</li>
<li>качество доставки автомобилей</li>
<li>грузоперевозки&nbsp;из Владивостока в&nbsp;Москву и области, доставка в другие регионы России автовозами.</li>
<li>гарантии</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«ПЭК-ДВ»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.tk-grt.ru" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://www.tk-grt.ru/прайс-лист/" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Перевозка&nbsp; крупногабаритных грузов, запчастей, мототехники и других сборных грузов по России в кратчайшие сроки. Перевозка осуществляется почтово-багажными вагонами в составе пассажирских поездов по всей России ежедневно с выгрузкой на малых станциях, а также автотранспортом.</p>
<ul class="list">
<li>по просьбе заказчиков предоставляется фотоотчет процесса упаковки, обрешетки и погрузки на транспортное средство либо в вагон</li>
<li>упаковка и обрешетка изготавливается, исходя из предпочтений заказчика</li>
<li>ежедневная отправка грузов</li>
<li>оперативные&nbsp;сроки доставки</li>
<li>страхование грузов</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«Деловые линии»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.dellin.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://www.dellin.ru/calculator/" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Транспортная компания «Деловые Линии» осуществляет перевозки грузов уже более 14 лет. Компания может доставить груз почти в любой город России, и география грузоперевозок постоянно расширяется.</p>
<ul class="list">
<li>автомобильные, авиаперевозки; контейнерные грузоперевозки;</li>
<li>доставка сборных грузов</li>
<li>перевозка грузов отдельным автотранспортом;</li>
<li>грузоперевозки по Москве и области, доставка в регионы России, а также Беларуси и Казахстана;</li>
<li>экспресс-доставка.</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«Энергия»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.nrg-tk.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://www.nrg-tk.ru/kalkulyator.html" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">ТК&nbsp;Энергия на&nbsp;сегодняшний день имеет филиалы более чем в&nbsp;<span class="nowrap">80-ти</span> городах России. Собственный автопарк состоящий более чем из&nbsp;300 автомобилей выполняющих ежедневные&nbsp;рейсы.</p>
<ul class="list">
<li>наличная и&nbsp;безналичная&nbsp;оплата</li>
<li>оплата отправителем / получателем / третьим&nbsp;лицом</li>
<li>забор / доставка грузов от&nbsp;/ до&nbsp;дверей отправителя/&nbsp;получателя</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;<span class="nowrap">«GTD (бывший КИТ)»</span></h2>
<p><span class="nowrap"><a class="ico-popup" href="https://gtdel.com/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a></span></p>
<p>Доставка во все населенные пункты РФ и ЕАЭС</p>
<p>Перевезти грузы между крупными&nbsp;областными центрами могут многие, обеспечить помимо этого срочную и точную&nbsp;доставку по низкой стоимости в не крупные областные города может&nbsp;Транспортная Компания "КИТ". На сегодняшний день Транспортная Компания "КИТ" входит в пятерку лидеров среди транспортных компаний России.</p>
<ul class="list">
<li>гарантированное качество доставки</li>
<li>оперативные сроки доставки&nbsp;груза</li>
<li>низкие тарифы на доставку</li>
<li>полный сервис</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;<span class="nowrap">«ПЭК»</span></h2>
<p><span class="nowrap"><a class="ico-popup" href="http://pecom.ru/ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a></span></p>
<p>Транспортные услуги перевозки грузов с Компанией "ПЭК" – это гарантированная сохранность груза на все время грузоперевозки, чёткое информационное сопровождение, доставка грузов практически по всей территории России, Беларуси и Казахстана в оптимальные сроки и точно рассчитанная стоимость услуг.</p>
<ul class="list">
<li>гарантированное качество доставки.</li>
<li>доставка автомобиля&nbsp;из&nbsp;Владивостока.</li>
<li>оперативные сроки доставки&nbsp;груза</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«ЖелДорЭкспедиция»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.jde.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://www.jde.ru/calc" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Представительства этой транспортной компании расположены в&nbsp;110 городах России, благодаря которым осуществляются регулярные грузовые перевозки более чем в&nbsp;3000 населенных пунктов&nbsp;страны.</p>
<ul class="list">
<li>ежедневная отправка грузов,&nbsp;</li>
<li>прогнозируемые сроки доставки,&nbsp;</li>
<li>полная материальная ответственность,&nbsp;</li>
<li>перевозки негабаритных грузов «от&nbsp;двери&nbsp;до&nbsp;двери»,</li>
<li>доставка грузов с&nbsp;объявленной ценностью&nbsp;</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«ТРОЙКА-ДВ»</h2>
<p class="f-small"><a class="ico-popup" href="http://troyka-dv.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a>&nbsp;</p>
<p class="g-mbh">Оперативная и дешевая доставка по ДВ региону, Амурская область, Хабаровский край, а так же Якутия.</p>
<ul class="list">
<li>собственный парк&nbsp;автомобилей,</li>
<li>оперативные сроки доставки&nbsp;груза,</li>
<li>гарантированное качество&nbsp;доставки.</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«ТрансЭкспедиция»</h2>
<p class="f-small"><a class="ico-popup" href="http://sakh-exp.com/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://sakh-exp.com/" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Основная цель компании «ТрансЭкспедиция» — дальнейшее развитие и сохранение высоких позиций, достигнутых на рынке транспортно-экспедиционных услуг</p>
<ul>
<li class="g-mbh">Перевозка грузов морским транспортом.</li>
<li class="g-mbh">Типы перевозимого груза: сборный (консолидированный), негабаритный, спецтехника, автомобили.</li>
<li class="g-mbh">Вес — от 1 килограмма и до бесконечности.</li>
<li class="g-mbh">Отправка груза на Сахалин, Камчатку и&nbsp;Хабаровск</li>
<li class="g-mbh">Сопутствующие услуги: хранение, консолидация, упаковка, маркировка, охрана, страхование и экспедирование.</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«СТЕЙЛ»</h2>
<p class="f-small"><a class="ico-popup" href="http://steil.ru" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="http://steil.ru" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Полный комплекс услуг по перевозке грузов авиа, автомобильным и железнодорожным транспортом между следующими городами: Благовещенск, Владивосток , Магадан, Нерюнгри, Новосибирск, Санкт-Петербург, п. Тикси, Якутск.&nbsp;</p>
<ul class="list">
<li>автомобильные, авиаперевозки; контейнерные грузоперевозки;</li>
<li>перевозки негабаритных грузов «от&nbsp;двери&nbsp;до&nbsp;двери»</li>
<li>ежедневная отправка грузов</li>
<li>оперативные&nbsp;сроки доставки</li>
<li>страхование грузов</li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«Автовосток-2»</h2>
<p><a class="ico-popup" title="Автовосток-2" href="http://avtovostok.info/" target="_blank" rel="alternate noopener noreferrer">Перейти на сайт компании</a> или <a title="Автовосток-2" href="http://avtovostok.info/price/" target="_blank" rel="alternate noopener noreferrer">посмотреть прайс услуг</a>.</p>
<p>Транспортная компания АвтоВосток работает на рынке жд перевозок с 2006 года. Мы являемся единственными на Дальнем Востоке представителями одного из крупнейших собственников вагонов сеток, ЗАО "Нефтетранспорт", что является гарантией постоянного обеспечения подвижным составом. Наш комплексный сервис отправки автомобилей включает хранение груза с момента приема и до погрузки, подробную фотоопись груза, погрузку и крепление, охрану на всех этапах отправки и все необходимые транспортные составляющие для быстрой и качественной доставки.</p>
<ul class="list">
<li>автомобильные, авиаперевозки; контейнерные грузоперевозки;</li>
<li>доставка сборных грузов</li>
<li>перевозка грузов отдельным автотранспортом;</li>
<li>грузоперевозки по Москве и области, доставка в регионы России, а также стран ЕС;</li>
<li>Подробнее об услугах : <a title="Доставка грузов" href="http://avtovostok.info/uslugi/" target="_blank" rel="alternate noopener noreferrer"><strong>перейти по ссылке</strong></a></li>
</ul>
<h2 class="g-mbh">Транспортная компания&nbsp;«Байкал Сервис»</h2>
<p class="f-small"><a class="ico-popup" href="https://baikalsr.ru" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a> или <a class="ico-popup" href="https://vladivostok.baikalsr.ru/tools/calculator/" target="_blank" rel="nofollow noopener noreferrer">рассчитать стоимости доставки</a>.</p>
<p class="g-mbh">Более 150 городов присутствия и&nbsp;глобальное снижение тарифов на&nbsp;перевозки сделали услуги еще более привлекательными.</p>
<ul class="list">
<li>ежедневная отправка грузов</li>
<li>оперативные&nbsp;сроки доставки</li>
<li>полная материальная ответственность и хранение груза</li>
<li>перевозки негабаритных грузов «от&nbsp;двери&nbsp;до&nbsp;двери»</li>
<li>доставка грузов с&nbsp;объявленной ценностью&nbsp;</li>
</ul>
<h2 class="g-mbh">Транспортная компания «Транс лидер»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.trans-leader.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a></p>
<p>Компания <span class="nowrap">«Транс-Лидер»</span>, оказывающая услуги грузоперевозки на&nbsp;территории Дальнего Востока с&nbsp;2003 года. Через эту компанию можно отправить как груз в&nbsp;1 килограмм, так и&nbsp;с&nbsp;крупнотоннажный и&nbsp;негабаритный груз. Транспортные грузоперевозки по&nbsp;всему Дальнему Востоку могут быть выполнены как по&nbsp;морю, так и&nbsp;наземным транспортом автомобильным или железнодорожным, в&nbsp;направлении: Камчатки, Сахалина и&nbsp;Курильских островов, Якутии, ЕАО, Амурской области, Магаданской области, Приморского края; а&nbsp;также по&nbsp;территории России до&nbsp;Москвы железной&nbsp;дорогой.</p>
<h2 class="g-mbh">Транспортная компания «Солнечный&nbsp;Магадан»</h2>
<p class="f-small"><a class="ico-popup" href="http://www.sunmagadan.ru/" target="_blank" rel="nofollow noopener noreferrer">Перейти на сайт компании</a></p>
<p class="g-mbh">Доставка груза осуществляется сборными контейнерами из&nbsp;портов Владивосток и&nbsp;Восточный&nbsp;— в&nbsp;порт Магадан. Срок доставки с&nbsp;момента погрузки на&nbsp;судно&nbsp;— от&nbsp;5 дней. Суда в&nbsp;Магадан из&nbsp;Владивостока ходят каждую&nbsp;неделю.</p>
<ul class="list">
<li>автодоставка&nbsp;по&nbsp;Магадану.</li>
<li>доставка автомобиля&nbsp;из&nbsp;Владивостока.</li>
</ul>
<h2 class="g-mbh">&nbsp;</h2> </div></div></article>

{%endblock%}